@model IEnumerable<FindTeacher.Models.Teacher>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />*@
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/mdb.min.css" />
</head>
<div class="bg-image hover-overlay shadow-1-strong rounded ripple" style="max-height:450px;">
    <img src="https://www.oct.ca/-/media/Images/banner/Section%20Banners/Public%20Protection/Find_a_Teacher.jpg" class="img-fluid" />
    <a href="#!">
        <div class="mask" style="background-color: rgba(25, 25, 25, 0.5)">
            <div class="d-flex justify-content-center align-items-center h-100">
                <h1 class="text-white">Tutor.kz | Find your way to be smart</h1>
            </div>
        </div>
    </a>
</div>

<div class="container p-5">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>What We Do</h2>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
            <a class="btn btn-primary btn-lg" href="#">Find teacher &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr />
            <address>
                <strong>Start Bootstrap</strong>
                <br />3481 Melrose Place
                <br />Beverly Hills, CA 90210
                <br />
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br />
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">name@example.com</a>
            </address>
        </div>
    </div>

    <div class="row mb-5">
        @foreach (var item in Model)
        {
        <div class="col-md-4">
            @*<h4 class="text-center"><strong></strong></h4>*@
            <hr />
            <div class="profile-card-4 text-center">
                <img style="height: 200px" src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="img img-responsive" />
                <div class="profile-content">
                    <div class="profile-name">
                        @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
                        <p>@Html.DisplayFor(modelItem => item.Email)</p>
                    </div>
                    <div class="profile-description">@Html.DisplayFor(modelItem => item.Story)</div>
                    <div class="row">
                        <div class="col">
                            <div class="profile-overview">
                                <p>Reviews</p>
                                <h4>54</h4>
                            </div>
                        </div>
                        <div class="col">
                            <div class="profile-overview">
                                <p>Disciplines</p>
                                <h4>6</h4>
                            </div>
                        </div>
                        <div class="col">
                            <div class="profile-overview">
                                <p>Experience</p>
                                <h4>12</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <a asp-action="Details" asp-controller="Teachers" asp-route-id="@item.Id" class="stretched-link"></a>
            </div>
            
        </div>
        }

    </div>



</div>
